// table of Contents
// 1. default setting
// 2. variables 
// 3. mixins 
// 4. nav bar 
// 5. projects 
// 6. footer 
// 7. animation

// 1

*, *::after, *::before {
    display: border-box;
    margin: 0px;
    padding: 0px;
}

// 2

$primaryColor: black;
$secondaryColor: brown;
$maxFont: 60px;
$goldenRatio: 1.618;
// 3

@mixin defaultStats($size) {
    margin: .2em;
    padding: .2em;
    font-size: $maxFont / ($goldenRatio * $size);
}

// 4

header {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: baseline;
}

.name-container {
    @include defaultStats(1);
}

.nav-container {
    @include defaultStats(1);
    display: flex;
    width: max-content;
    justify-content: space-evenly;
    a {
        color: $secondaryColor;
        @include defaultStats(1);
        &:hover {
            animation: hover 1000ms ease-in-out forwards;
        }
    }
}
// if the screen is a certain size than the text should be smaller
@media only screen and (max-width: 700px) {
    .nav-container {
        @include defaultStats(2);
    }
}
// 5

.project-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-card {
    @include defaultStats(2);
    width: 30vw;
    height: 25vw;
    background-color: $primaryColor;
}
.project-card:first-child {
    width: 90vw;
}

// 6

footer {
    width: 100vw;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        @include defaultStats(2);
        border-radius: 1000px;
        width: 200px;
        transition-duration: 500ms;
        &:hover {
            animation: hover 500ms ease forwards;
        }
    }
}

// 7

@keyframes hover {
    from {
        font-size: 100%;
    }
    to {
        font-size: 120%;
    }
}
:focus {
    outline: none;
    animation: hover 500ms ease forwards;
}